.card-content img{
    height: 100px;
    width: 100px; 
  
}

.card-content h3{
   font-size: 13px;
}
.card-content p{
    font-size: 10px;
}
.card-content .card-button{
    
   display: flex;
   justify-content: space-around;
   
}