.card-content img{
    height: 100px;
    width: 100px; 
  
}

.card-content h3{
   font-size: 13px;
}
.card-content p{
    font-size: 10px;
}
.card-content .card-button{
    
    bottom: 0;
    border: 1px solid red;
}