button {
  
    font-size: 14px;
    outline: none;
    border: none;
    width: 4rem;
    padding: 10px;
    padding: 8px 16px;
    border-radius: 6px;
  
    background: #40727a;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  button :hover {
    background: rgb(236, 141, 216);
  }
  